\VAR{ comp.commercial }

\textbf{Rôle~:} \VAR{ comp.role }


\textbf{Paquets principaux~:} \BLOCK{ for p in comp.packages_list }\texttt{\VAR{ p }}\BLOCK{ if not loop.last }, \BLOCK{ endif }\BLOCK{ endfor }


\textbf{Ports par défaut~:} \VAR{ comp.default_ports }

\BLOCK{ if comp.nodes }
\textbf{Nœud(s) hébergeant ce composant chez \VAR{ client.name }~:}
\begin{longtable}{|p{3.2cm}|p{4.5cm}|p{3.2cm}|p{2.3cm}|}
\hline
\rowcolor{primary}\tblhead{Nœud} & \tblhead{Hostname} & \tblhead{IP} & \tblhead{Zone} \\
\hline
\endhead
\BLOCK{ for n in comp.nodes }
\VAR{ n.id } & \VAR{ n.hostname } & \VAR{ n.ip } & \VAR{ n.zone_label } \\
\hline
\BLOCK{ endfor }
\end{longtable}
\BLOCK{ else }
\placeholder{Aucun nœud n'est explicitement associé à ce composant --- à compléter}
\BLOCK{ endif }

\textbf{Signature sortante~:} chaque message sortant est signé DKIM pour le compte du domaine expéditeur. La clé privée DKIM doit être protégée et sa clé publique publiée dans la zone DNS de chaque domaine géré.

\BLOCK{ if comp.load_balancing }
\textbf{Méthode de répartition de charge~:} \VAR{ comp.load_balancing }
\BLOCK{ endif }
