\begin{longtable}{|p{1cm}|p{2.5cm}|p{9.5cm}|}
\hline
\endhead
\VAR{ '$\\boxtimes$' if confidentiality == 'public' else '$\\square$' } & Public & Le contenu de ce document et de ses annexes peut être diffusé librement sans restriction. \\
\hline
\VAR{ '$\\boxtimes$' if confidentiality == 'client' else '$\\square$' } & Client & Le contenu de ce document et de ses annexes est strictement confidentiel et ne peut être diffusé en dehors des intervenants directs. \\
\hline
\VAR{ '$\\boxtimes$' if confidentiality == 'restreint' else '$\\square$' } & Restreint & Le contenu de ce document et de ses annexes est strictement confidentiel et est réservé uniquement aux collaborateurs de ZEXTRAS SERVICES. \\
\hline
\VAR{ '$\\boxtimes$' if confidentiality == 'confidentiel' else '$\\square$' } & Confidentiel & Le contenu de ce document et de ses annexes est strictement confidentiel et est réservé uniquement aux collaborateurs de ZEXTRAS SERVICES identifiés ci-dessous. \\
\hline
\end{longtable}
