\chapter{Interfaces et intégrations}
\begin{longtable}{|p{4.5cm}|p{4.5cm}|p{3.5cm}|}
\hline
\rowcolor{primary}\tblhead{Système tiers} & \tblhead{Nature de l'intégration} & \tblhead{Protocole/API} \\
\hline
\endhead
\BLOCK{ for it in interfaces }
\VAR{ it.system } & \VAR{ it.integration } & \VAR{ it.protocol } \\
\hline
\BLOCK{ endfor }
\end{longtable}
\placeholder{Ajouter toute intégration spécifique au client : coffre-fort numérique, archivage légal, outil d'e-discovery, etc.}
