\chapter{Contraintes et exigences non fonctionnelles}
\begin{longtable}{|p{6cm}|p{6.5cm}|}
\hline
\rowcolor{primary}\tblhead{Exigence} & \tblhead{Cible} \\
\hline
\endhead
Disponibilité & \VAR{ sla.availability } \\
\hline
Performance (temps de réponse webmail) & \VAR{ nfr.performance } \\
\hline
Conformité réglementaire & \VAR{ nfr.compliance } \\
\hline
Souveraineté / hébergement & \VAR{ nfr.sovereignty } \\
\hline
\end{longtable}
