\chapter{Contraintes et exigences non fonctionnelles}
\begin{longtable}{|p{6cm}|p{6.5cm}|}
\hline
\rowcolor{primary}\tblhead{Exigence} & \tblhead{Cible} \\
\hline
\endhead
Disponibilité & \VAR{ sla.availability } \\
\hline
Performance (temps de réponse webmail) & [ex. < 2 s en conditions nominales] \\
\hline
Conformité réglementaire & [RGPD, localisation des données en France/UE] \\
\hline
Souveraineté / hébergement & [on-premise, cloud privé, ou SaaS souverain via partenaire certifié] \\
\hline
Réversibilité & [modalités d'export des données en cas de fin de contrat] \\
\hline
\end{longtable}
